name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: cmake
      run: cmake .
      env:
        CC: "gcc-9"
        CXX: "g++-9" 
    - name: make
      run: make
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        # Artifact name
        name: uhh
        # Directory containing files to upload
        path: uhh
